html{
    font-family: Taipei;
    
    cursor: none;
}

button:hover{
    cursor: none;
}

body{
    padding-left: 0;
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
    background-color: #efefef;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    user-select: none;
    -webkit-user-drag: none;
    width: 1366px;
    height: 633px;
    overflow: hidden;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.cursor {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: transparent;
    border: 5px solid #383838;
    transform: translate(-50%,-50%);
    transition: scale 0.15s cubic-bezier(.6,0,.4,1), background-color 0.3s cubic-bezier(.6,0,.4,1), border 0.5s cubic-bezier(.6,0,.4,1);
    z-index: 99999999;
    pointer-events: none;
    transform-origin: left top;
}

.cursor_click {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: transparent;
    transform: translate(-50%,-50%);
    transition: scale 0.15s cubic-bezier(.6,0,.4,1), border 0.3s cubic-bezier(.6,0,.4,1);
    z-index: 99999999;
    border: 5px solid rgba(56, 56, 56, 0);
    pointer-events: none;
    transform-origin: left top;
    scale: 0.8;
    animation: none;
}

#cursor {
    position: absolute;
}

.cursorLight {
    position: absolute;
    width: 0;
    height: 0;
}

#home {
    position: absolute;
    width: 100%;
    height: 110%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    overflow: hidden;
}

#part_1 {
    position: relative;
    top: 100%;
    width: 100%;
    height: 110%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    background-color: rgba(239, 239, 239, 0);
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 10;
}

.nav {
    position: absolute;
    top: 0%;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    width: 100%;
    height: 100px;
    z-index: 11;
}

.logo {
    position: absolute;
    left: 570px;
    top: 310px;
    width: 200px;
    height: 50px;
    z-index: 12;
    scale: 3;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

.logo #logo_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 0px;
    z-index: 12;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

.logo #logo_text {
    position: absolute;
    left: 70px;
    top: 16px;
    font-size: 20px;
    color: #313131;
    font-family: Genseki;
    z-index: 12;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

.Title1 {
    position: absolute;
    left: 8%;
    top: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    color: #101010;
    z-index: 12;
}

.Title1 #o {
    position: absolute;
    top: 16px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #FF5B74;
    z-index: 13;
}

#Text1 {
    color: #cc9cf5;
    z-index: 12;
}

#Text2 {
    color: #52C6FD;
    z-index: 12;
}

#Text3 {
    color: rgba(239, 239, 239, 0);
    z-index: 12;
}


.Title1 #a {
    position: absolute;
    top: 66px;
    width: 28px;
    height: 28px;
    border-radius: 100% 0 0 0;
    background-color: #52C6FD;
    z-index: 13;
}

.Title1 #e {
    position: absolute;
    top: 66px;
    width: 28px;
    height: 28px;
    z-index: 13;
}

#e1 {
    position: absolute;
    width: 14px;
    height: 28px;
    border-radius: 14px 0 0 14px;
    background-color: #01E5B2;
    z-index: 13;
}

#e2 {
    position: absolute;
    left: 14px;
    width: 14px;
    height: 14px;
    border-radius: 0 14px 0 0;
    background-color: #01E5B2;
    z-index: 13;
}

.Title2 {
    position: absolute;
    left: 8%;
    top: 53%;
    color: #313131;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    z-index: 12;
}

.btn1 {
    position: absolute;
    left: 8%;
    top: 70%;
    width: 180px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    background-color: transparent;
    color: #101010;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
    scale: 1;
    transition: all 0.1s cubic-bezier(.6,0,.4,1);
    overflow: hidden;
    z-index: 12;
}

.btn1:hover {
    color: #efefef;
}


.btn1::before {
    width: 50px;
    content: '';
    top: 0;
    left: 0;
    background-color: #afafaf;
    position: absolute;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
    border-radius: 25px;
    height: 100%;
    z-index: -1;
}

.btn1:hover::before {
    background-color: #383838;
    width: 100%;
}

.btn1:active {
    scale: 0.9;
}

#obj1 {
    position: absolute;
    left: 5%;
    top: 27%;
    scale: 0;
    width: 18px;
    height: 18px;
    border-radius: 0 0 36px 0;
    background-color: #01E5B2;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 14;
}

#obj2{
    position: absolute;
    left: 65%;
    top: 30%;
    scale: 0;
    width: 16px;
    height: 32px;
    border-radius: 0px 64px 64px 0;
    background-color: #01E5B2;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 14;
}

#obj3{
    position: absolute;
    left: 45%;
    top: 65%;
    scale: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #ffdd57;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 14;
}

#obj4{
    position: absolute;
    left: 110%;
    top: 75%;
    width: 20px;
    height: 20px;
    border-radius: 0 0 20px 0;
    background-color: #52C6FD;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 14;
}

#obj5{
    position: absolute;
    left: -4%;
    top: 84%;
    width: 28px;
    height: 14px;
    border-radius: 36px 36px 0px 0;
    background-color: #FF5B74;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 14;
}

#phone1 {
    position: absolute;
    left: 70%;
    top: 15%;
    scale: 0;
    width: 400px;
    height: 400px;
    background-color: rgba(16, 16, 16, 0);
    border-radius: 20px;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 14;
}



#part_2 {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 110%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    background-color: transparent;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 8;
}

.btn_back{
    position: absolute;
    left: 48%;
    top: 5%;
    font-family: Genseki;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: #383838;
    border-radius: 25px;
    border: 0;
    scale: 0;
    z-index: 9;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
    overflow: hidden;
}

.btn_back:hover {
    width: 200px;
    left: 44%;
}

.btn_back::before {
    width: 35px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 0px;
    background-color: #383838;
    content: '>';
    color: #efefef;
    font-weight: bold;
    rotate: -90deg;
    font-family: monospace;
    border-radius: 0 0px 25px 25px;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
}

.btn_back::after {
    width: 200px;
    height: 50px;
    position: absolute;
    left: -100px;
    top: 15px;
    background-color: transparent;
    content: '　　Previous Page';
    font-family: monospace;
    font-weight: bold;
    color: #383838;
    font-size: 13px;
    border-radius: 25px;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
    z-index: -1;
}

.btn_back:hover::after {
    color: #efefef;
    left: 0;
}

.btn_back:active {
    scale: 0.95;
}

.Title3 {
    position: absolute;
    left: 8%;
    top: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    color: #efefef;
    z-index: 10;
}

.container1 {
    position: absolute;
    left: 8%;
    top: 26%;
    width: 410px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 10;
}

#web {
    position: absolute;
    transform: translateY(0px);
    transition: all 0.75s cubic-bezier(.6,0,.4,1);
}

#ecash {
    position: absolute;
    transform: translateY(600px);
    transition: all 0.75s cubic-bezier(.6,0,.4,1);
}

#Text4 {
    font-family: Genseki;
    font-size: 20px;
    color: #d3d3d3;
}

.member {
    width: 400px;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: #efefef;
    box-shadow: rgba(36, 36, 36, 0.15) 0 5px 15px;
}

.member .member_photo {
    position: relative;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 17px;
    background-color: #d3d3d3;
    overflow: hidden;
}

.member_photo img {
    width: 100%;
}

.member .member_name {
    position: relative;
    left: 80px;
    top: -50px;
    font-size: 20px;
    font-family: Taipei_bold;
    color: #313131;
}

.member .member_id {
    position: relative;
    left: 80px;
    top: -64px;
    font-size: 14px;
    color: #575757;
}

#btn2 {
    position: relative;
    left: 300px;
    top: 550px;
    border: 0;
    width: 100px;
    height: 30px;
    background-color: rgba(16, 16, 16, 0);
    z-index: 10;
    font-family: monospace;
    color: #efefef;
    font-weight: bold;
}

#btn2:disabled {
    color: #AFAFAF;
}

#btn3 {
    position: relative;
    left: 300px;
    top: 550px;
    border: 0;
    width: 100px;
    height: 30px;
    background-color: rgba(16, 16, 16, 0);
    z-index: 10;
    font-family: monospace;
    color: #efefef;
    font-weight: bold;
}

#btn3:disabled {
    color: #AFAFAF;
}

.container2 {
    position: absolute;
    left: 58%;
    top: 20%;
    width: 410px;
    height: 350px;
    border-radius: 20px;
}

.container2 .cards {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 380px;
    height: 380px;
    border-radius: 20px;
    background-color: rgb(239, 239, 239);
    box-shadow: rgba(36, 36, 36, 0.25) 0 5px 15px;
    transition: all 0.75s cubic-bezier(.6,0,.4,1);
}

#card1 {
    position: absolute;
    left: 0px;
    top: 0px;
    scale: 1;
    opacity: 1;
    transition: all 0.75s cubic-bezier(.6,0,.4,1);
    z-index: 10;
    display: block;
}

#card2 {
    left: 0px;
    top: 29px;
    scale: 0.9;
    opacity: 1;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 9;
    display: block;
}

#card3 {
    left: 0px;
    top: 44px;
    scale: 0.85;
    opacity: 0;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 8;
    display: none;
}

.card_logo {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 40px;
    top: 52px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
}

.card_title {
    position: absolute;
    left: 110px;
    top: 40px;
    font-family: Genseki;
    font-size: 32px;
    color: #313131;
}

.card_content {
    position: absolute;
    left: 40px;
    top: 125px;
    width: 300px;
    font-family: Taipei;
    font-size: 16px;
    color: #575757;
    letter-spacing: 0.5px;
    line-height: 1.2;
}

.card_mem {
    position: absolute;
    left: 40px;
    top: 220px;
    width: 300px;
    height: 100px;
    border-radius: 14px;
}

.card_mem_photo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    border-radius: 40px;
    background-color: #ffffff;
    overflow: hidden;
}

.card_pro {
    position: absolute;
    left: 40px;
    top: 320px;
    width: 300px;
    height: 40px;
}

.card_pro #text1 {
    position: absolute;
    top: 0px;
    font-size: 16px;
    font-family: monospace;
    color: #313131;
}

.card_pro #text2 {
    position: absolute;
    top: 4px;
    left: 270px;
    font-size: 14px;
    font-family: monospace;
    color: #858585;
}


.card_pro_bar_bg {
    position: absolute;
    top: 30px;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    background-color: #bdbdbd;
}

.card_pro_bar_val {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #464646;
}

#card1_pro_bar_val {
    width: 60%;
}

#card2_pro_bar_val {
    width: 80%;
}

#card_mem_photo1 {
    left: 0px;
}

#card_mem_photo2 {
    left: 30px;
}

#card_mem_photo3 {
    left: 60px;
}

.card_mem_photo img {
    width: 95%;
    height: 95%;
    border-radius: 100%;
}

#obj6 {
    position: absolute;
    left: 25%;
    top: 15%;
    scale: 0;
    width: 40px;
    height: 40px;
    border-radius: 0 0 0 40px;
    background-color: #d6a1ff;
    transition: all 0.75s cubic-bezier(.6,0,.4,1);
    z-index: 9;
}

#obj7 {
    position: absolute;
    left: 95%;
    top: 30%;
    scale: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #01E5B2;
    transition: all 0.75s cubic-bezier(.6,0,.4,1);
    z-index: 9;
}

#obj8 {
    position: absolute;
    left: 48%;
    top: 50%;
    scale: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #52C6FD;
    transition: all 0.75s cubic-bezier(.6,0,.4,1);
    z-index: 9;
}

#obj9 {
    position: absolute;
    left: 100%;
    top: 50%;
    scale: 0;
    width: 30px;
    height: 60px;
    border-radius: 60px 0 0 60px;
    background-color: #d6a1ff;
    transition: all 0.5s cubic-bezier(.6,0,.4,1);
    z-index: 9;
}

#obj10 {
    position: absolute;
    left: 10%;
    top: 93%;
    scale: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #FF5B74;
    transition: all 0.5s cubic-bezier(.6,0,.4,1);
    z-index: 9;
}

.btn4{
    position: absolute;
    left: 48%;
    top: 75%;
    font-family: Genseki;
    font-size: 24px;
    width: 50px;
    height: 50px;
    background-color: #383838;
    border-radius: 25px;
    border: 0;
    scale: 0;
    z-index: 9;
    font-family: monospace;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
    overflow: hidden;
}

#btn5{
    background-color: #ffffff;
}

.btn4:hover {
    width: 200px;
    left: 44%;
}

.btn4::before {
    width: 35px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 0;
    background-color: #383838;
    content: '<';
    rotate: -90deg;
    font-weight: bold;
    color: #efefef;
    border-radius: 0 0px 25px 25px;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
}

#btn5::before{
    background-color: #ffffff;
    color: #101010;
}

.btn4::after {
    width: 200px;
    height: 50px;
    position: absolute;
    left: -100px;
    top: 15px;
    background-color: transparent;
    content: '　　Next Page';
    font-family: monospace;
    font-weight: bold;
    color: #383838;
    font-size: 13px;
    border-radius: 25px;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
    z-index: -1;
}

#btn5::after{
    color: #ffffff;
}

.btn4:hover::after {
    color: #efefef;
    left: 0;
}

#btn5:hover::after {
    color: #101010;
}

.btn4:active {
    scale: 0.95;
}



#part_3 {
    position: absolute;
    left: 0;
    top: 110%;
    width: 100%;
    height: 110%;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-top: 0;
    background-color: transparent;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
    z-index: 10;
}

.chapters{
    position: absolute;
    width: 300px;
    height: 400px;
    background: transparent;
    border: 0;
    opacity: 0;
    scale: 1;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch_g_1{
    position: absolute;
    left: 100px;
    top: 18%;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

#ch1{
    position: absolute;
    left: 80px;
    top: 0;
}

#ch2 {
    position: absolute;
    left: 440px;
    top: 0;
}

#ch3 {
    position: absolute;
    left: 800px;
    top: 0;
}

#ch4{
    position: absolute;
    left: 80px;
    top: 0;
}

#ch5 {
    position: absolute;
    left: 440px;
    top: 0;
}

#ch6 {
    position: absolute;
    left: 800px;
    top: 0;
}

#ch_g_2{
    position: absolute;
    left: 1180px;
    top: 18%;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

.ch_icon{
    position: absolute;
    left: 90px;
    top: 70px;
    width: 200px;
    height: 200px;
    scale: 0.3;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
}

#ch4_icon{
    top: 100px;
}

#ch5_icon{
    top: 100px;
}

#ch6_icon{
    top: 100px;
}

.ch_icon img{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 200px;
    filter: drop-shadow(5px 5px 10px rgb(16, 16, 16, 0.2));
    object-fit: scale-down;
}

#ch2_icon img{
    left: 30px;
    top: 50px;
}

#ch3_icon img{
    left: 20px;
}

#ch4_icon img{
    left: 20px;
}


#ch6_icon img{
    left: 30px;
    top: 20px;
}

.ch_bg{
    position: absolute;
    left: 20px;
    top: 160px;
    width: 280px;
    height: 240px;
    border-radius: 25px;
}

.ch_title{
    position: absolute;
    left: 40px;
    top: 280px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #313131;
    scale: 1;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
    opacity: 1;
}

.ch_subtitle{
    position: absolute;
    left: 40px;
    top: 340px;
    text-align: left;
    font-family: Taipei;
    font-weight: bold;
    font-size: 14px;
    color: #575757;
    scale: 1;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
}

.readmore_box {
    position: absolute;
    left: 40px;
    top: 380px;
    width: 200px;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
}

.readmore_box .readmore {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: transparent;
    border: 0;
    color: #383838;
    text-align: left;
}

.btn_close {
    position: absolute;
    left: 1090px;
    top: -110px;
    width: 100px;
    height: 40px;
    border: 0;
    background-color: transparent;
    font-size: 14px;
    font-family: monospace;
    color: #101010;
    opacity: 0;
    transition: all 0.75s cubic-bezier(.6,0,.4,1);
    font-weight: bold;
}

#close2{
    left: 750px;
}

#close3{
    left: 390px;
}

#close5{
    left: 750px;
}

#close6{
    left: 390px;
}

.ch_bg {
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(16, 16, 16, 0.1);
    transition: all 0.3s cubic-bezier(.6,0,.4,1);
}

#ch1_bg {
    
    background-color: #E9D3FD;
    box-shadow: rgba(210, 165, 250, 0.3) 0 5px 10px;
}

#ch2_bg {
    
    background-color: #D0F0D8;
    box-shadow: rgba(146, 219, 163, 0.3) 0 5px 10px;
}

#ch3_bg {
    
    background-color: #E1F2F3;
    box-shadow: rgba(168, 218, 220, 0.3) 0 5px 10px;
}

#ch4_bg {
    
    background-color: #FFE7E7;
    box-shadow: rgba(255, 173, 173, 0.3) 0 5px 10px;
}

#ch5_bg {
    
    background-color: #FAF8D6;
    box-shadow: rgba(243, 245, 194, 0.3) 0 5px 10px;
}

#ch6_bg {
    
    background-color: #FBEBDD;
    box-shadow: rgba(241, 187, 142, 0.3) 0 5px 10px;
}

.btn6 {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 78%;
    top: 77%;
    font-size: 14px;
    border: 0;
    background-color: transparent;
    font-family: monospace;
    opacity: 1;
    transition: all 1s cubic-bezier(.6,0,.4,1);
    font-weight: bold;
}

.btn6:disabled{
    color: #AFAFAF;
}

.btn7 {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 85%;
    top: 77%;
    font-size: 14px;
    border: 0;
    background-color: transparent;
    font-family: monospace;
    opacity: 1;
    transition: all 1s cubic-bezier(.6,0,.4,1);
    font-weight: bold;
}

.btn7:disabled{
    color: #AFAFAF;
}

.ch_btn_next {
    position: absolute;
    width: 45px;
    height: 45px;
    left: -60px;
    top: 320px;
    font-size: 26px;
    border: 0;
    background-color: transparent;
    font-family: monospace;
    opacity: 0;
    rotate: 90deg;
    scale: 1 1.5;
    transition: all 0.85s cubic-bezier(.6,0,.4,1);
    z-index: 12;
}

#ch_next2 {
    left: -420px;
}

#ch_next3 {
    left: -780px;
}

#ch_next5 {
    left: -420px;
}


.mask {
    position: absolute;
    width: 1020px;
    height: 400px;
    border: 0;
    background-color: transparent;
    display: block;
}

.ch_slide_1{
    position: absolute;
    left: -100px;
    top: 40px;
    rotate: -90deg;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 100;
    color: #313131;
    scale: 1;
    letter-spacing: 0.5px;
    transition: all 0.85s cubic-bezier(.6,0,.4,1);
    opacity: 0;
}

#ch2_slide_1 {
    left: -460px;
}

#ch3_slide_1 {
    left: -820px;
}

#ch5_slide_1 {
    left: -460px;
}

#ch6_slide_1 {
    left: -820px;
}


.ch_slide_2{
    position: absolute;
    left: -102px;
    top: 205px;
    rotate: -90deg;
    font-size: 26px;
    font-family: sans-serif;
    color: #7f7f7f;
    scale: 0.6;
    letter-spacing: 0.5px;
    font-weight: 100;
    transition: all 0.85s cubic-bezier(.6,0,.4,1);
    opacity: 0;
}

#ch2_slide_2 {
    left: -462px;
}

#ch3_slide_2 {
    left: -822px;
}

#ch5_slide_2 {
    left: -462px;
}

#mask1{
    display: none;
}

#mask2{
    display: block;
}


#obj11 {
    position: absolute;
    left: 5%;
    top: 37%;
    scale: 0;
    width: 18px;
    height: 18px;
    border-radius: 0 0 36px 0;
    background-color: #d2a5fa;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

#obj12{
    position: absolute;
    left: 60%;
    top: 25%;
    scale: 0;
    width: 16px;
    height: 32px;
    border-radius: 0px 64px 64px 0;
    background-color: #ffdd57;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

#obj13{
    position: absolute;
    left: 25%;
    top: 45%;
    scale: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #FF5B74;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

#obj14{
    position: absolute;
    left: 88%;
    top: 80%;
    width: 20px;
    scale: 0;
    height: 20px;
    border-radius: 0 0 20px 0;
    background-color: #ffdd57;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

#obj15{
    position: absolute;
    left: 32%;
    top: 84%;
    width: 28px;
    scale: 0;
    height: 14px;
    border-radius: 36px 36px 0px 0;
    background-color: #52C6FD;
    transition: all 1.5s cubic-bezier(.6,0,.4,1);
}

.ch_contents {
    position: absolute;
    width: 700px;
    height: 0px;
    border-radius: 30px;
    left: 400px;
    top: 100px;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(.6,0,.4,1);
}

#ch1_content {
    background-color: #e7ceff;
}

#ch2_content {
    left: 60px;
    background-color: #bee6c8;
}


#ch3_content {
    left: -280px;
    background-color: #cfecf0;
}

#ch4_content {
    
    background-color: #f8dcdc;
}

#ch5_content {
    left: 60px;
    background-color: #f1efc7;
}

#ch6_content {
    left: -280px;
    background-color: #ebdcce;
}

.ch_content_classes {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 660px;
    height: 80px;
    color: #29123d;
    font-family: Genseki;
    font-weight: bold;
    font-size: 20px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
    overflow: hidden;
}

#ch1_content_class1 {
    border-top: 0px solid #cfb8e6;
    top: 360px;
}

#ch1_content_class2 {
    position: absolute;
    border-top: 2px solid #cfb8e6;
    top: 360px;
}

#ch1_content_class3 {
    position: absolute;
    border-top: 2px solid #cfb8e6;
    top: 360px;
}




#ch2_content_class1 {
    border-top: 0px solid rgb(162, 210, 174);
    top: 360px;
}

#ch2_content_class2 {
    position: absolute;
    border-top: 2px solid #a3d3af;
    left: 20px;
    top: 360px;
}

#ch2_content_class3 {
    position: absolute;
    border-top: 2px solid #a3d3af;
    left: 20px;
    top: 360px;
}





#ch3_content_class1 {
    border-top: 0px solid #b0cbce;
    top: 360px;
}

#ch3_content_class2 {
    position: absolute;
    border-top: 2px solid rgb(176, 203, 206);
    left: 20px;
    top: 360px;
}

#ch3_content_class3 {
    position: absolute;
    border-top: 2px solid #b0cbce;
    left: 20px;
    top: 360px;
}




#ch4_content_class1 {
    border-top: 0px solid #e7c0c0;
    top: 360px;
}

#ch4_content_class2 {
    position: absolute;
    border-top: 2px solid rgb(231, 192, 192);
    left: 20px;
    top: 360px;
}

#ch4_content_class3 {
    position: absolute;
    border-top: 2px solid #e7c0c0;
    left: 20px;
    top: 360px;
}




#ch5_content_class1 {
    border-top: 0px solid #d6d4ab;
    top: 360px;
}

#ch5_content_class2 {
    position: absolute;
    border-top: 2px solid rgb(214, 212, 171);
    left: 20px;
    top: 360px;
}

#ch5_content_class3 {
    position: absolute;
    border-top: 2px solid #d6d4ab;
    left: 20px;
    top: 360px;
}




#ch6_content_class1 {
    border-top: 0px solid #d4c0ae;
    top: 360px;
}

#ch6_content_class2 {
    position: absolute;
    border-top: 2px solid rgb(212, 192, 174);
    left: 20px;
    top: 360px;
}

#ch6_content_class3 {
    position: absolute;
    border-top: 2px solid #d4c0ae;
    left: 20px;
    top: 360px;
}




.ch_content_classes p {
    position: absolute;
    left: 30px;
    top: -2px;
    font-size: 30px;
    font-family: Genseki;
}

#ch1_content_class1 p {
    color: #4b1150;
}

#ch1_content_class2 p {
    color: #4b1150;
}

#ch1_content_class3 p {
    color: #4b1150;
}



#ch2_content_class1 p {
    color: #338060;
}

#ch2_content_class2 p {
    color: #338060;
}

#ch2_content_class3 p {
    color: #338060;
}



#ch3_content_class1 p {
    color: #063949;
}

#ch3_content_class2 p {
    color: #063949;
}

#ch3_content_class3 p {
    color: #063949;
}




#ch4_content_class1 p {
    color: #532727;
}

#ch4_content_class2 p {
    color: #532727;
}

#ch4_content_class3 p {
    color: #532727;
}




#ch5_content_class1 p {
    color: #101010;
}

#ch5_content_class2 p {
    color: #101010;
}

#ch5_content_class3 p {
    color: #101010;
}



#ch6_content_class1 p {
    color: #492c19;
}

#ch6_content_class2 p {
    color: #492c19;
}

#ch6_content_class3 p {
    color: #492c19;
}




.ch_content_btns {
    position: absolute;
    left: 600px;
    top: 34px;
    width: 30px;
    height: 30px;
    border: 0;
    font-size: 20px;
    font-family: Taipei;
    transition: all 0.5s cubic-bezier(.6,0,.4,1);
    rotate: 0deg;
    z-index: 13;
}

#ch1_content_class1 .ch_content_btns {
    color: #4b1150;
}

#ch1_content_class2 .ch_content_btns {
    color: #4b1150;
}

#ch1_content_class3 .ch_content_btns {
    color: #4b1150;
}



#ch2_content_class1 .ch_content_btns {
    color: #338060;
}

#ch2_content_class2 .ch_content_btns {
    color: #338060;
}

#ch2_content_class3 .ch_content_btns {
    color: #338060;
}



#ch3_content_class1 .ch_content_btns {
    color: #063949;
}

#ch3_content_class2 .ch_content_btns {
    color: #063949;
}

#ch3_content_class3 .ch_content_btns {
    color: #063949;
}



#ch4_content_class1 .ch_content_btns {
    color: #532727;
}

#ch4_content_class2 .ch_content_btns {
    color: #532727;
}

#ch4_content_class3 .ch_content_btns {
    color: #532727;
}



#ch5_content_class1 .ch_content_btns {
    color: #101010;
}

#ch5_content_class2 .ch_content_btns {
    color: #101010;
}

#ch5_content_class3 .ch_content_btns {
    color: #101010;
}




#ch6_content_class1 .ch_content_btns {
    color: #492c19;
}

#ch6_content_class2 .ch_content_btns {
    color: #492c19;
}

#ch6_content_class3 .ch_content_btns {
    color: #492c19;
}




.ch_content_btns_2 {
    position: absolute;
    left: 600px;
    top: 25px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    transition: all 0.5s cubic-bezier(.6,0,.4,1);
    rotate: -90deg;
    font-family: Taipei;
    z-index: 13;
}

#ch1_content_class1 .ch_content_btns_2 {
    color: #4b1150;
}

#ch1_content_class2 .ch_content_btns_2 {
    color: #4b1150;
}

#ch1_content_class3 .ch_content_btns_2 {
    color: #4b1150;
}


#ch2_content_class1 .ch_content_btns_2 {
    color: #338060;
}

#ch2_content_class2 .ch_content_btns_2 {
    color: #338060;
}

#ch2_content_class3 .ch_content_btns_2 {
    color: #338060;
}




#ch3_content_class1 .ch_content_btns_2 {
    color: #063949;
}

#ch3_content_class2 .ch_content_btns_2 {
    color: #063949;
}

#ch3_content_class3 .ch_content_btns_2 {
    color: #063949;
}


#ch4_content_class1 .ch_content_btns_2 {
    color: #532727;
}

#ch4_content_class2 .ch_content_btns_2 {
    color: #532727;
}

#ch4_content_class3 .ch_content_btns_2 {
    color: #532727;
}



#ch5_content_class1 .ch_content_btns_2 {
    color: #101010;
}

#ch5_content_class2 .ch_content_btns_2 {
    color: #101010;
}

#ch5_content_class3 .ch_content_btns_2 {
    color: #101010;
}




#ch6_content_class1 .ch_content_btns_2 {
    color: #492c19;
}

#ch6_content_class2 .ch_content_btns_2 {
    color: #492c19;
}

#ch6_content_class3 .ch_content_btns_2 {
    color: #492c19;
}




.ch_contents_pages {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 660px;
    height: 0px;
    overflow: hidden;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_2_page {
    top: 180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_3_page {
    top: 260px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}



#ch2_content_2_page {
    top: 180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_3_page {
    top: 260px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}



#ch3_content_2_page {
    top: 180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_3_page {
    top: 260px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}


#ch4_content_2_page {
    top: 180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_3_page {
    top: 260px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}


#ch5_content_2_page {
    top: 180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_3_page {
    top: 260px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}



#ch6_content_2_page {
    top: 180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_3_page {
    top: 260px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}






#ch1_content_1_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_2_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_3_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}



#ch2_content_1_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_2_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_3_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}


#ch3_content_1_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_3_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}



#ch4_content_1_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_3_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}



#ch5_content_1_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_3_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}




#ch6_content_1_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_3_pages_container {
    position: absolute;
    top: -180px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}




#ch1_content_1_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_2_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_2_page2 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_2_page3 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_3_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_1_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 50px;
    font-size: 20px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_1_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_1_page1 #img1 img {
    height: 100%;
    border-radius: 20px;
    filter: drop-shadow(2px 2px 10px rgba(16, 16, 16, 0.05));
}

#ch1_content_2_page1 .ch_cards {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 20px;
    top: 40px;
    border-radius: 10px;
    background-color: #d2a5fa;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
}

.ch_cards p {
    color: #4b1150;
    font-family: Genseki;
    font-size: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 120px;
}

.ch_cards img {
    width: 100%;
    border-radius: 10px;
}

#ch1_content_2_page1 #ch_card1 {
    left: 36px;
}

#ch1_content_2_page1 #ch_card2 {
    left: 192px;
}


#ch1_content_2_page1 #ch_card3 {
    left: 348px;
}


#ch1_content_2_page1 #ch_card4 {
    left: 504px;
}


#ch1_content_2_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #d7bdf0;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_3_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch1_content_3_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #d7bdf0;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    overflow: hidden;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}




#ch2_content_1_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_2_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_2_page2 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_3_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_1_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_1_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cceae;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_2_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 20px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_2_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cceae;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_2_page2 #text1 {
    position: absolute;
    width: 320px;
    left: 330px;
    top: 20px;
    font-size: 20px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_2_page2 #img1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cceae;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}



#ch2_content_3_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch2_content_3_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cceae;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}





#ch3_content_1_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page2 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page3 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page4 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page5 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page2 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page3 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_3_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_3_page2 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 40px;
    top: 40px;
    font-size: 18px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page2 #text1 {
    position: absolute;
    width: 320px;
    left: 330px;
    top: 50px;
    font-size: 18px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page2 #img1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page3 #text1 {
    position: absolute;
    width: 320px;
    left: 40px;
    top: 30px;
    font-size: 20px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page3 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page4 #text1 {
    position: absolute;
    width: 320px;
    left: 330px;
    top: 50px;
    font-size: 18px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page4 #img1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page5 #text1 {
    position: absolute;
    width: 320px;
    left: 40px;
    top: 30px;
    font-size: 20px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_1_page5 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page2 #text1 {
    position: absolute;
    width: 320px;
    left: 330px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page2 #img1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page3 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_2_page3 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_3_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_3_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_3_page2 #text1 {
    position: absolute;
    width: 320px;
    left: 330px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch3_content_3_page2 #img1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #8cbfce;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}


#ch4_content_1_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_page2 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_page3 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_3_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_1_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_1_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #dfbdbd;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #dfbdbd;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_page2 #text1 {
    position: absolute;
    width: 320px;
    left: 330px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_page2 #img1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #dfbdbd;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_2_page3 #text1 {
    position: absolute;
    width: 640px;
    left: 20px;
    top: 0px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_3_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch4_content_3_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #dfbdbd;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}



#ch5_content_1_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_page2 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_page3 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_3_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_1_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_1_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #cec48c;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #cec48c;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_page2 #text1 {
    position: absolute;
    width: 320px;
    left: 330px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_page2 #img1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #cec48c;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_2_page3 #text1 {
    position: absolute;
    width: 640px;
    left: 20px;
    top: 0px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_3_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch5_content_3_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #cec48c;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}




#ch6_content_1_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_page2 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_page3 {
    position: absolute;
    top: 360px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_3_page1 {
    position: absolute;
    top: 0px;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_1_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_1_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #d6bc96;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 20px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #d6bc96;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_page2 #text1 {
    position: absolute;
    width: 320px;
    left: 330px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_page2 #img1 {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #d6bc96;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_2_page3 #text1 {
    position: absolute;
    width: 640px;
    left: 20px;
    top: 0px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_3_page1 #text1 {
    position: absolute;
    width: 320px;
    left: 20px;
    top: 60px;
    font-size: 16px;
    font-family: Taipei;
    letter-spacing: 1px;
    line-height: 1.5;
    color: #313131;
    transition: all 1s cubic-bezier(.6,0,.4,1);
}

#ch6_content_3_page1 #img1 {
    position: absolute;
    left: 360px;
    top: 20px;
    width: 280px;
    height: 220px;
    border-radius: 20px;
    background-color: #d6bc96;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(16, 16, 16, 0.05);
    transition: all 1s cubic-bezier(.6,0,.4,1);
}





.ch_content_pages_btns {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 660px;
    height: 100px;
    background-color: transparent;
}

#ch1_content_2_page_btn1{
    top: 0px;
}

#ch1_content_2_page_btn2{
    top: 160px;
}




#ch2_content_2_page_btn1{
    top: 0px;
}

#ch2_content_2_page_btn2{
    top: 160px;
}



#ch3_content_1_page_btn1{
    top: 0px;
}

#ch3_content_1_page_btn2{
    top: 160px;
}



#ch3_content_2_page_btn1{
    top: 0px;
}

#ch3_content_2_page_btn2{
    top: 160px;
}



#ch3_content_3_page_btn1{
    top: 0px;
}

#ch3_content_3_page_btn2{
    top: 160px;
}



#ch4_content_2_page_btn1{
    top: 0px;
}

#ch4_content_2_page_btn2{
    top: 160px;
}




#ch5_content_2_page_btn1{
    top: 0px;
}

#ch5_content_2_page_btn2{
    top: 160px;
}





#ch6_content_2_page_btn1{
    top: 0px;
}

#ch6_content_2_page_btn2{
    top: 160px;
}




@font-face {
    font-family: Taipei;
    src: url("Fonts/TaipeiSansTCBeta-Regular.woff") format("woff");
}

@font-face {
    font-family: Taipei_bold;
    src: url("Fonts/TaipeiSansTCBeta-Bold.woff") format("woff");
}

@font-face {
    font-family: GenSeki;
    src: url("Fonts/GenSekiGothicTW-B-01.woff") format("woff");
}

@keyframes phone1_out {
    0%{
        left: 50%;
        top: 55%;
        transform: rotate3d(0, 0, 0, 7deg) scale(1);
    }
    50%{
        left: 55%;
        top: -5%;
        transform: rotate3d(0, 1, 1, 7deg) scale(0.95);
    }
    100%{
        left: 60%;
        top: -65%;
        transform: rotate3d(0, 0, 0, 7deg) scale(0.9);
    }
}

@keyframes phone1_in {
    0%{
        left: 60%;
        top: -65%;
        transform: rotate3d(0, 0, 0, 7deg) scale(0.9);
    }
    50%{
        left: 55%;
        top: -5%;
        transform: rotate3d(0, 1, 1, 7deg) scale(0.95);
    }
    100%{
        left: 50%;
        top: 55%;
        transform: rotate3d(0, 0, 0, 7deg) scale(1);
    }
}

@keyframes cursor_click {
    from{
        scale: 0.8;
        opacity: 1;
    }
    to{
        scale: 1.5;
        opacity: 0;
    }
    
}